<div class="row">
<div class="col-lg-12">
    <h2 class="page-header">Profile</h2>
</div>
</div>
<!--
<div class="alert alert-success" role="alert" id="saved" style="display:none;">Save Successful</div>
<div class="alert alert-danger" role="alert" id="error" style="display:none;">Error</div>
-->

<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-offset-2 col-sm-2 control-label">First Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-offset-2 col-sm-2 control-label">Last Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-offset-2 col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-offset-2 col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-offset-2 col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputConfirm3" placeholder="Confirm Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-4">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>