<div class="section-header">What is SimCentered?</div>
<p class="section-description">SimCentered is an online management system specifically designed for medical simulation centers. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

<div class="row feature scheduling">
  <div class="col-md-7 col-md-offset-1">
    <h2>Scheduling</h2>
    <p class="lead">Schedule simulation events, assign students, reserve rooms and equipment so you know everything is where it needs to be, when it needs to be there.</p>
    <p class="lead">Sync your simulation calendar with google or iCalendar</p>
  </div>
  <div class="col-md-3">
    <i class="fa fa-calendar"></i>
  </div>
</div>

<hr>

<div class="row feature inventory">
  <div class="col-md-3">
    <i class="fa fa-barcode"></i>
  </div>
  <div class="col-md-7">
    <h2>Inventory</h2>
    <p class="lead">Keep track of your inventory, know when it's time to reorder.</p>
    <p class="lead">Run usage reports to see how much and how often you are using your equipment.  Also get valuable statistics on your purchases.</p>
  </div>
</div>

<hr>

<div class="row feature assessment">
  <div class="col-md-7 col-md-offset-1">
    <h2>Assessment</h2>
    <p class="lead">Evaluate student performance during sessions.</p>
  </div>
  <div class="col-md-3">
    <i class="fa fa-list-alt"></i>
  </div>
</div>

<hr>

<div class="row feature pulse">
  <div class="col-md-3">
    <i class="fa fa-heartbeat"></i>
  </div>
  <div class="col-md-7">
    <h2>Pulse</h2>
    <p class="lead">Social networking meets medical simulation.</p>
    <p class="lead">Connect with other members of the simulation community. Start discussions, ask questions and stay up to date with industry standards.</p>
  </div>
</div>
