<div class="section-header">Pricing</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Trial <!--<span class="label label-success">Best Value</span> --></h3>
            </div>
            <div class="panel-body">
                <span class="price">Free</span>
                <span class="period">for one month access</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><strong>1</strong> Account</li>
                <li class="list-group-item"><strong>1</strong> Account</li>
                <li class="list-group-item"><strong>500</strong> Projects</li>
                <li class="list-group-item"><strong>No credit card required!</strong></li>
                <li class="list-group-item"><a href="sign-up.html" class="btn btn-primary">Sign Up!</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Basic</h3>
            </div>
            <div class="panel-body">
                <span class="price"><sup>$</sup>99<sup>99</sup></span>
                <span class="period">per month</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><strong>1</strong> Admin Account</li>
                <li class="list-group-item"><strong>20</strong> Faculty Accounts</li>
                <li class="list-group-item"><strong>500</strong> Student Accounts</li>
                <li class="list-group-item"><strong>3, 6 and 12 month</strong> Payment Options</li>
                <li class="list-group-item"><a href="sign-up.html" class="btn btn-primary">Sign Up!</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Plus</h3>
            </div>
            <div class="panel-body">
                <span class="price"><sup>$</sup>199<sup>99</sup></span>
                <span class="period">per month</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><strong>5</strong> Administrator Accounts</li>
                <li class="list-group-item"><strong>Unlimted</strong> Faculty Accounts</li>
                <li class="list-group-item"><strong>Unlimited</strong> Student Accounts</li>
                <li class="list-group-item"><strong>3, 6 and 12 month</strong> Payment Options</li>
                <li class="list-group-item"><a href="sign-up.html" class="btn btn-primary">Sign Up!</a>
                </li>
            </ul>
        </div>
    </div>
</div>