<h2 class="page-header"><i class="fa fa-heartbeat" style="color: #ff0004;"></i> SC Pulse</h2>

<center>
  <h2>Network with the SimCentered community</h2>
  <a href="">Publish a Post</a> |
  <a href="">Start a Discussion</a> |
  <a href="">Report an Issue</a> |
  <a href="">Request a Feature</a>
</center>

<h2 class="page-header"><i class="fa fa-comments"></i> Discussion
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="" type="text" class="form-control search" placeholder="Search Discussions">
      </div>
    </div>
    <span class="pull-right">
      <a href="#" class="header-icon-right" data-toggle="modal" data-target="#new***Modal">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </span>
  </small>
</h2>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tbody id="">
        <tr>
          <td><a href="">What's the best simulator?</a></td>
          <td>Myrtle Kirlin</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="">How do you time events?</a></td>
          <td>Terrence Abernathy</td>
          <td>72</td>
        </tr>
        <tr>
          <td><a href="">AV Vendors</a></td>
          <td>Keith Conroy</td>
          <td>0</td>
        </tr>
        <tr>
          <td><a href="">What's the best simulator?</a></td>
          <td>Myrtle Kirlin</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="">How do you time events?</a></td>
          <td>Terrence Abernathy</td>
          <td>72</td>
        </tr>
        <tr>
          <td><a href="">AV Vendors</a></td>
          <td>Keith Conroy</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2 class="page-header"><i class="fa fa-ambulance fa-flip-horizontal"></i> Issues
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="" type="text" class="form-control search" placeholder="Search Issues">
      </div>
    </div>
    <span class="pull-right">
      <a href="#" class="header-icon-right" data-toggle="modal" data-target="#new***Modal">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </span>
  </small>
</h2>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tbody id="">
        <tr>
          <td><a href="">This link doesn't go anywhere</a></td>
          <td>Keith Conroy</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="">Neither does this one</a></td>
          <td>Stephany Abbott</td>
          <td>72</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2 class="page-header"><i class="fa fa-medkit"></i> Feature Requests
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="" type="text" class="form-control search" placeholder="Search Features">
      </div>
    </div>
    <span class="pull-right">
      <a href="#" class="header-icon-right" data-toggle="modal" data-target="#new***Modal">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </span>
  </small>
</h2>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tbody id="">
        <tr>
          <td><a href="">Downloadable Calendars</a></td>
          <td>Myrtle Kirlin</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="">Event Timer</a></td>
          <td>Terrence Abernathy</td>
          <td>2</td>
        </tr>
        <tr>
          <td><a href="">AV Solution</a></td>
          <td>Stephany Abbott</td>
          <td>200</td>
        </tr>
        <tr>
          <td><a href="">Usage Reports</a></td>
          <td>Keith Conroy</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>