<h2 class="page-header">Community aka SC Pulse</h2>
<center>
  <h3 style="color: red;">
    <i class="fa fa-exclamation-triangle"></i>
    ------------Under Construction------------
    <i class="fa fa-exclamation-triangle"></i>
  </h3>
</center>

<% @organizations.each do |org| %>
  <p><%= org.title %></p>
<% end %>