<tbody>
  <% @rooms.each do |room| %>
  <tr>
    <td><%= room.title %></td>
    <td class="icon">
      <% if room.busy %>
        <i class="fa fa-ban busy" data-toggle="tooltip" data-placement="left" title="In Use"></i>
      <% else %>
        <a href="add_room/<%= room.id %>" class="add-room">
          <i class="fa fa-plus"></i>
        </a>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>