<tbody>
  <% @event.items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <% if item.disposable %>
      <td>
        <%= item.quantity %>
      </td>
    <% else %>
      <td></td>
    <% end %>
    <td class="icon">
      <a href="<%= @event.id %>/remove_item" data-item-id="<%= item.id %>" class="remove-item">
        <i class="fa fa-minus"></i>
      </a>
    </td>
  </tr>
  <% end %>
</tbody>