<tbody>
  <% if @event.items.empty? %>
    <tr><td class="none-added">No inventory items have been added</td></tr>
  <% else %>
    <% @event.items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <% if item.disposable %>
          <td>
            <%= @event.scheduled_items.where(item_id: item.id).first.quantity %>
          </td>
        <% else %>
          <td></td>
        <% end %>
        <td class="icon">
          <a href="<%= @event.id %>/remove_item" data-item-id="<%= item.id %>" class="remove-item">
            <i class="fa fa-minus"></i>
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>