<tbody>
  <% if @event.rooms.empty? %>
    <tr><td class="none-added">No rooms have been added</td></tr>
  <% else %>
    <% @event.rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td class="icon">
          <a href="<%= @event.id %>/remove_room" data-room-id="<%= room.id %>" class="remove-room">
            <i class="fa fa-minus"></i>
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>