<tbody>
  <% @event.students.each do |student| %>
  <tr>
    <td><%= full_name(student) %></td>
    <td class="icon">
      <a href="remove_student/<%= student.id %>" class="remove-student">
        <i class="fa fa-minus"></i>
      </a>
    </td>
  </tr>
  <% end %>
</tbody>