<% if @courses.empty? %>
  <tr>
    <td class="none-added">No courses have been added</td>
    <td></td>
    <td></td>
  </tr>
<% else %>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.title, organization_course_path(course.organization_id, course.id) %></td>
      <td><%= full_name(course.instructor) %></td>

      <td class='icon'>
        <%= link_to organization_course_path(course.organization_id, course.id), method: :delete, data: { confirm: t('courses.are_you_sure') } do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>