<tbody>
  <% if @course.students.empty? %>
    <tr><td class="none-added">No students have been added</td></tr>
  <% else %>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to full_name(student), user_path(student.id) %></td>
        <td class="icon">
          <a href="<%= @course.id %>/remove_student" data-student-id="<%= student.id %>" class="remove-student">
            <i class="fa fa-minus"></i>
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>