<tr>
  <td><%= link_to full_name(@student), organization_user_path(@student.organization_id, @student.id) %></td>
  <td class="icon">
    <a href="<%= @course.id %>/remove_student" data-student-id="<%= @student.id %>" class="remove-student">
      <i class="fa fa-minus"></i>
    </a>
  </td>
</tr>