<% content_for :title, " | Courses" %>

<h2 class="page-header"><i class="fa fa-book"></i> Courses
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="course-search" type="text" class="form-control search" placeholder="Search">
      </div>
    </div>
    <span class="pull-right">
      <%= link_to new_organization_course_path(@organization, @course), class: "new" do %>
        <i class="fa fa-plus fa-lg"></i>
      <% end %>
    </span>
  </small>
</h2>

<%= will_paginate @courses %>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course &nbsp;<i class="fa fa-sort"></i></th>
          <th>Instructor &nbsp;<i class="fa fa-sort"></i></th>
          <th class='icon'>Edit</th>
          <th class='icon'>Delete</th>
        </tr>
      </thead>
      <tbody id="courses-index">
        <%= render 'all_courses' %>
      </tbody>
    </table>
  </div>
</div>