// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.display-table {
  height: 350px;
  overflow: scroll;
}

#add-students, #add-rooms, #add-items {
  margin: auto;
}

#calendar {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2% 5% 1% 5%;
}

tr.dropdown-row {
  display: none;
}

.busy {
  color: #ce2727;
}

table {
  text-align: center;
}

th {
  text-align: center;
}

#calendar table {
  text-align: left;
}