// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-students-table {
  max-height: 350px;
  overflow: scroll;
}

#student-selector {
  display: none;
}

#room-selector {
  display: none;
}

#item-selector {
  display: none;
}

#events_rooms {

}

#add-students, #add-rooms, #add-items {
  margin: auto;
}