
#home.doctor {
  position: relative;
  height: 100%;
  z-index: 5;
  &::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: url('doctor.jpg') no-repeat top center;
    background-size: cover;
    will-change: transform;
    z-index: -5;
  }
}
#home.vitals {
  position: relative;
  height: 100%;
  z-index: 5;
  &::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: url('vitals.jpg') no-repeat center center;
    opacity: 0.9;
    background-size: cover;
    will-change: transform;
    z-index: -5;
  }
}
#home.middle {
  position: relative;
  height: 100%;
  z-index: 5;
  &::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: url('hospital.jpg') no-repeat center center;
    opacity: 0.9;
    background-size: cover;
    will-change: transform;
    z-index: -5;
  }
}

.top {
  width: 40%;
  height: 90%;
  margin: 100px 0 30px 20%;
  text-shadow: 2px 2px #E8E8E8;
  font-size: 1.5em;
}

.nav-buffer {
  height: 50px;
}

.section-header {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  letter-spacing: -1px;
  padding-bottom: 50px;
}

.section-description {
  width: 75%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

#about {
  width: 100%;
  background-color: #f79e18;
  color: white;
  padding: 50px 50px;
  i {
    font-size: 15em;
  }
  .feature {
    padding: 50px 0;
    >div h2 {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    &.scheduling {
    }
    &.inventory {
      text-align: right;
    }
    &.assessment {
    }
  }
}

.organizations {
  width: 100%;
  margin: 0;
  padding: 200px 20px;
  text-align: center;
}

#pricing, #contact, #faq {
  min-height: 110%;
  background-color: white;
  padding: 25px 100px 50px 100px;
}

#contact {
  color: white;
  padding-top: 10%;
  background: transparent;
  a {
    color: #f79e18;
  }
}

#faq {
  min-height: 110%;
  background-color: #f79e18;
}

/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
}

body {
  padding-top: 75px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding-bottom: 25px;
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
}
// .main {
//   padding: 20px;
// }

// .img-portfolio {
//     margin-bottom: 30px;
// }

// .img-hover:hover {
//     opacity: 0.8;
// }

// /* 404 Page Styles */

// .error-404 {
//     font-size: 100px;
// }

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
  padding: 10px 30px;
  background-color: #0096b5;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
// .footer {
//   position: absolute;
//   bottom: 0;
//   Set the fixed height of the footer here
//   height: 60px;
// }
.container .text-muted {
  margin: 20px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
// @media (min-width: 768px) {


//   /* Bump up size of carousel content */
//   .carousel-caption p {
//     margin-bottom: 20px;
//     font-size: 21px;
//     line-height: 1.4;
//   }

// }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

// ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;
// }



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
// .marketing .col-lg-4 {
//   margin-bottom: 20px;
//   text-align: center;
// }
// .marketing h2 {
//   font-weight: normal;
// }
// .marketing .col-lg-4 p {
//   margin-right: 10px;
//   margin-left: 10px;
// }


/* Featurettes
------------------------- */

/* Thin out the marketing headings */


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
// .navbar-fixed-top {
//   border: 0;
// }

/*
 * Main content
 */


// @media (min-width: 768px) {
//   .main {
//     padding-right: 40px;
//     padding-left: 40px;
//   }
// }
// .main .page-header {
//   margin-top: 0;
// }


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select{
  font-size: 20px;
}
.tooltip-class {
  text-decoration: none;
}
.pagination {
  margin-top: 0;
}

ul .nav {
  margin: 20px 0;
}
