<div class="modal fade" id="newRoomGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a Room Group</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @new_group, layout: :horizontal, control_col: "col-sm-9", url: organization_room_groups_path do |f| %>
          <%= f.text_field :title %>
          <%= f.collection_check_boxes(:room_ids, @rooms, :id, :title, label: t('rooms.self')) %>
          <%= f.submit "Create Room Group" %>
        <% end %>
      </div>
    </div>
  </div>
</div>